<!DOCTYPE html>
<html>
<head>
  <title>Request new DBC campus</title>
</head>
<body>
  <p>Where should DBC have a campus next?</p>
  <form action="/campuses" method="POST">
    <input type="text" name="name" placeholder="City Name">
    <input type="text" name="nickname" placeholder="City Initials">
    <button type="submit">Save</button>
  </form>
</body>
</html>